# covarriance and Corelation, Skewness and Histogram

covarriance (x,x) = variance (x)

Covariance is also the spread of the data.

---
if x is increasing and y is increasing

if x is decreasing and y is decreasing

for both the cases covariance will be +ve.

---
if x is increasing and y is decreasing

if x is decreasing and y is increasing

for both the cases covariance will be -ve.

---

### Advantages and disadvantages of covariance:

- Find the relation between x any y, if it is +ve or -ve.
- We can't conclude that +500 is more covariant than +1, because there is no such restriction.

## Pearson Corellation coefficient

Here we have restricted values which lie between -1 and +1

## Spareman Rank Corellaton

Here we apply the ranks the values and operate accordingly

## Implimentation

In [6]:
import seaborn as sns

df = sns.load_dataset('healthexp')
df.head()

   Year        Country  Spending_USD  Life_Expectancy
0  1970        Germany       252.311             70.6
1  1970         France       192.143             72.2
2  1970  Great Britain       123.993             71.9
3  1970          Japan       150.437             72.0
4  1970            USA       326.961             70.9

In [7]:
# covariance

import numpy as np

np.cov(df['Spending_USD'], df['Life_Expectancy'])

array([[4.81776066e+06, 4.16680091e+03],
       [4.16680091e+03, 1.07339023e+01]])

In [9]:
df.cov(numeric_only=True)

                         Year  Spending_USD  Life_Expectancy
Year               201.098848  2.571883e+04        41.915454
Spending_USD     25718.827373  4.817761e+06      4166.800912
Life_Expectancy     41.915454  4.166801e+03        10.733902

In [15]:
# Corellation

df.corr(numeric_only=True, method='spearman')

                     Year  Spending_USD  Life_Expectancy
Year             1.000000      0.931598         0.896117
Spending_USD     0.931598      1.000000         0.747407
Life_Expectancy  0.896117      0.747407         1.000000

In [14]:
df.corr(numeric_only=True, method='pearson') # default

                     Year  Spending_USD  Life_Expectancy
Year             1.000000      0.826273         0.902175
Spending_USD     0.826273      1.000000         0.579430
Life_Expectancy  0.902175      0.579430         1.000000

# Skewness

- No skewed 
  - mean == median == mode
  - Histogram will be symmetrical
  - Q3-Q2 == Q2-Q1
  - Gussain Distribution

- Right Skewed
  - Also called positive skewed
  - Mean > median > mode 

- Left Skewed Distribution
  - Opposite of RSD

## Histogram

PDF = Probably distributed function

We get PDF by smoothening the histogram.

The "No skewed histogram" forms "Bell Curve" = Normal/Gussian Distribution

The "Right skewed histogram" = Log Normal Distribution