# Practice Set 2 - Python

---
Q1. Create a list in python using the followings:

2,3,4,5,6,7 with variable ‘a’

Add ‘mango’ to the above list <br>
Also add ‘banana’, ‘grapes’ & ‘orange’ in the list

insert apple in the 5th position of a variable ‘a’

Remove last item from the list

In [12]:
a = [2,3,4,5,6,7]
a.append('Mango') # type: ignore
a

[2, 3, 4, 5, 6, 7, 'Mango']

In [13]:
a += ['banana', 'grapes', 'orange']
a

[2, 3, 4, 5, 6, 7, 'Mango', 'banana', 'grapes', 'orange']

In [14]:
a.insert(4, 'apple') # type: ignore
a

[2, 3, 4, 5, 'apple', 6, 7, 'Mango', 'banana', 'grapes', 'orange']

In [15]:
a.pop()
a

[2, 3, 4, 5, 'apple', 6, 7, 'Mango', 'banana', 'grapes']

---
Q2.

L = [1,2,3,4,5,6,7] <br>
Using the above list slice from 1:4

In [16]:
L = [1,2,3,4,5,6,7]
L[1:4]

[2, 3, 4]

---
Q3. Reverse the order of given list L = [4,5,6,8,3] Without using reverse() function.

In [22]:
L = [4,5,6,8,3]

revL = []

for i in range(len(L)):
    revL.append(L[len(L) - (i+1)])

revL

[3, 8, 6, 5, 4]

---
Q4. Use list comprehension to square the given list L=[2,4,7,3,6,8]

In [25]:
L=[2,4,7,3,6,8]

[i**2 for i in L]

[4, 16, 49, 9, 36, 64]

---
Q5. Create a function that takes in a tuple of integers and returns the sum of the integers. Test the function with a tuple of your choice.

In [29]:
def sumTup(a):
    total = 0
    for i in a:
        total += i
    return total

sumTup((1, 2, 3, 4, 5, 6))

21

---
Q6. Create two sets of your favourite fruits, and use the union() method to combine them into a single set.

Print the resulting set to the console.

In [30]:
setOfFavFruits1 = {"Mango", "Orange", "Banana", "Pineapple"}
setOfFavFruits2 = {"Mango", "Orange", "Strawberry", "Pineapple"}

setOfFavFruits1.union(setOfFavFruits2)

{'Banana', 'Mango', 'Orange', 'Pineapple', 'Strawberry'}

---
Q7. Create a set of random words, and use the add() method to add a new word to the set. Print the resulting set to the console.

In [32]:
randomWords = {"hello", "world", "python", "programming"}

randomWords.add("hello123")

randomWords

{'hello', 'hello123', 'programming', 'python', 'world'}

---
Q8. Create a set of your favourite animals, and use the remove() method to remove one animal from the set. Print the resulting set to the console.

In [42]:
setOfFavAnimals = {"cat", "dog", "fish"}

setOfFavAnimals.remove("dog")

setOfFavAnimals

{'cat', 'fish'}

---
Q9. favorite_books = {"1984", "To Kill a Mockingbird", "Pride and Prejudice"} <br>
favorite_movies = ["The Shawshank Redemption", "The Godfather", "The Dark Knight"]

Use the zip() function to combine the book set and movie list into a list of tuples representing book/movie pairs. Print the resulting list.

In [37]:
favorite_books = {"1984", "To Kill a Mockingbird", "Pride and Prejudice"}
favorite_movies = ["The Shawshank Redemption", "The Godfather", "The Dark Knight"]

[i for i in zip(favorite_movies, favorite_books)]

[('The Shawshank Redemption', '1984'),
 ('The Godfather', 'To Kill a Mockingbird'),
 ('The Dark Knight', 'Pride and Prejudice')]

---
Q10. Write a Python program to find the difference between consecutive numbers in a list.

In [40]:
lst = [2, 6, 3, 4, 5, 7, 8, 9]

consecAdd = []

for i in range(len(lst)):
    consecAdd.append(lst[i] + lst[i-1])
    
consecAdd

[11, 8, 9, 7, 9, 12, 15, 17]