# Assignment 23-feb-2023 Pandas

Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [33]:
from pandas import Series, DataFrame

Series([4, 8, 15, 16, 23, 42])

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

---
Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the variable print it.

In [3]:
variable_of_list = ['These', 'are', 'the', 'best', 'ten', 'elements', 'in', 'the', 'whole', 'world']

Series(variable_of_list)

0       These
1         are
2         the
3        best
4         ten
5    elements
6          in
7         the
8       whole
9       world
dtype: object

---
Q3. Create a Pandas DataFrame that contains the following data

|Name | Age | Gender |
|--|--|--|
|Alice | 25 | Female|
|Bob | 30 | Male|
|Claire | 27 | Female|

In [32]:
my_data_list = [
    ['Alice', 25, 'Female'],
    ['Bob', 30, 'Male'],
    ['Claire', 27, 'Female'],
]

df = DataFrame(my_data_list, columns=['Name', 'Age', 'Gender'])

df

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

---
Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

In [38]:
# Dataframe is a two dimentional labeled data structure with rows and columns. while as the series is a single dimentional array with labels.


import pandas as pd

# Creating a DataFrame
data = {
    'Name': ['Alice', 'Bob', 'Claire'],
    'Age': [25, 30, 27],
    'Gender': ['Female', 'Male', 'Female']
}
df = pd.DataFrame(data)

# Creating a Series
ages = pd.Series([25, 30, 27], name='Age')

# Displaying the DataFrame and Series
print("DataFrame:")
print(df)

print("\nSeries:")
print(ages)

DataFrame:
     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

Series:
0    25
1    30
2    27
Name: Age, dtype: int64

---
Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions?

```py
df.head()  # Display the first 5 rows
df.tail(10)  # Display the last 10 rows

df.describe() # generates summary statistics of numeric columns in the DataFrame, such as mean, standard deviation, minimum, maximum, etc.

avg_age_by_gender = df.groupby('Gender')['Age'].mean()

df_sorted = df.sort_values(by='Age', ascending=False)

df_filtered = df.drop(index=[1, 3])  # Drop rows with index 1 and 3

df_filled = df.fillna(value=0)  # Fill missing values with 0

df['Age_squared'] = df['Age'].apply(lambda x: x ** 2)

pivot_table = df.pivot_table(values='Age', index='Gender', columns='Name', aggfunc='mean')

```

---
Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

Ans: Dataframe

---
Q7. Create a DataFrame using multiple Series. Explain with an example.

In [46]:
from pandas import Series, DataFrame
odd = Series([1, 3, 5, 7, 9], index=['a', 'b', 'c', 'd', 'e'], name='odd')
even = Series([2, 4, 6, 8, 10], index=['a', 'b', 'c', 'd', 'e'], name='even')

DataFrame([odd, even])

      a  b  c  d   e
odd   1  3  5  7   9
even  2  4  6  8  10