# Assignment 24-feb-2023 Pandas-2

Q1. List any five functions of the pandas library with execution.

In [3]:
import pandas as pd

users_data = [
    {'name': 'Tomasz', 'surname': 'Kowalski', 'age': 25},
    {'name': 'Anna', 'surname': 'Nowak', 'age': 30},
    {'name': 'Jan', 'surname': 'Kowalski', 'age': 35}
]
# 1. DataFrame 
df = pd.DataFrame(users_data) 
df

     name   surname  age
0  Tomasz  Kowalski   25
1    Anna     Nowak   30
2     Jan  Kowalski   35

In [8]:
# 2. Categorical
pd.Categorical(df['age'])

[25, 30, 35]
Categories (3, int64): [25, 30, 35]

In [11]:
# 3. Series
pd.Series(df['surname'])

0    Kowalski
1       Nowak
2    Kowalski
Name: surname, dtype: object

In [14]:
# 4. Get Dummies

pd.get_dummies(df)

   age  name_Anna  name_Jan  name_Tomasz  surname_Kowalski  surname_Nowak
0   25      False     False         True              True          False
1   30       True     False        False             False           True
2   35      False      True        False              True          False

In [15]:
# 5. Index

pd.Index(df)

Index([('Tomasz', 'Kowalski', 25), ('Anna', 'Nowak', 30),
       ('Jan', 'Kowalski', 35)],
      dtype='object')

---
Q2. Given a Pandas DataFrame df with columns 'A', 'B', and 'C', write a Python function to re-index the DataFrame with a new index that starts from 1 and increments by 2 for each row.

In [29]:
# Pandas DataFrame df with columns 'A', 'B', 'C'

df = pd.DataFrame({
    'A': [1, 2, 3, 4, 5, 6, 7, 8, 9],
    'B': [4, 5, 6, 7, 8, 9, 10, 11, 12],
    'C': [7, 8, 9, 10, 11, 12, 13, 14, 15]
})

df['new_index'] = df.index * 2 + 1
df

   A   B   C  new_index
0  1   4   7          1
1  2   5   8          3
2  3   6   9          5
3  4   7  10          7
4  5   8  11          9
5  6   9  12         11
6  7  10  13         13
7  8  11  14         15
8  9  12  15         17

---
Q3. You have a Pandas DataFrame df with a column named 'Values'. Write a Python function that
iterates over the DataFrame and calculates the sum of the first three values in the 'Values' column. The function should print the sum to the console.

In [37]:
df = pd.DataFrame({'values': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]})
sum(df.head(3)['values'])

6

---
Q4. Given a Pandas DataFrame df with a column 'Text', write a Python function to create a new column 'Word_Count' that contains the number of words in each row of the 'Text' column.

In [72]:
df = pd.DataFrame({'Text': ['this here', 'is the', 'hello', 'world for you']})
df['WordCount'] = df['Text'].apply(lambda x: len(x.split()))

df

            Text  WordCount
0      this here          2
1         is the          2
2          hello          1
3  world for you          3

---
Q5. How are DataFrame.size() and DataFrame.shape() different?

In [78]:
# size: gives the size of the dataframe or total number of elements
# shape: gives the 2d size of the dataframe or total number of rows and columns

df.size # 8 = 8 elements
df.shape # (4, 2) = 4 rows and 2 columns

(4, 2)

---
Q6. Which function of pandas do we use to read an excel file?

Ans: read_excel

```py
pd.read_excel()
```

---
Q7. You have a Pandas DataFrame df that contains a column named 'Email' that contains email
addresses in the format 'username@domain.com'. Write a Python function that creates a new column
'Username' in df that contains only the username part of each email address.

In [81]:
email_df = pd.DataFrame({'email': ['test@example.com', 'user@test.com', 'jhon.doe@doe.com']})
email_df['Username'] = email_df['email'].apply(lambda x: x.split('@')[0])

email_df

              email  Username
0  test@example.com      test
1     user@test.com      user
2  jhon.doe@doe.com  jhon.doe

---
Q8. You have a Pandas DataFrame df with columns 'A', 'B', and 'C'. Write a Python function that selects all rows where the value in column 'A' is greater than 5 and the value in column 'B' is less than 10. The function should return a new DataFrame that contains only the selected rows.

In [89]:
df = pd.DataFrame({
    'A': [1, 2, 3, 4, 9, 6, 7, 8, 5],
    'B': [4, 5, 6, 7, 8, 9, 10, 11, 12],
    'C': [7, 8, 9, 10, 11, 12, 13, 14, 15]
})

new_df = df[(df['A'] > 5) & (df['B'] < 10)][['A', 'B']]
new_df

   A  B
4  9  8
5  6  9

---
Q9. Given a Pandas DataFrame df with a column 'Values', write a Python function to calculate the mean, median, and standard deviation of the values in the 'Values' column.

In [107]:
df = pd.DataFrame({'values': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]})

desc = df['values'].describe()

print(
    {
        'mean': desc['mean'],
        'median': desc['50%'],
        'std': desc['std'],
    }
)

{'mean': 5.5, 'median': 5.5, 'std': 3.0276503540974917}

---
Q10. Given a Pandas DataFrame df with a column 'Sales' and a column 'Date', write a Python function to create a new column 'MovingAverage' that contains the moving average of the sales for the past 7 days for each row in the DataFrame. The moving average should be calculated using a window of size 7 and should include the current day.

In [124]:
df = pd.DataFrame({
    'Sales': [10, 20, 30, 40, 50, 60, 70],
    'Date': [
        '2020-01-01',
        '2020-01-02',
        '2020-01-03',
        '2020-01-04',
        '2020-01-05',
        '2020-01-06',
        '2020-01-07'
    ]
})

df['Moving_Average'] = df['Sales'].rolling(window=7).mean()

df

   Sales        Date  Moving_Average
0     10  2020-01-01             NaN
1     20  2020-01-02             NaN
2     30  2020-01-03             NaN
3     40  2020-01-04             NaN
4     50  2020-01-05             NaN
5     60  2020-01-06             NaN
6     70  2020-01-07            40.0

---
Q11. You have a Pandas DataFrame df with a column 'Date'. Write a Python function that creates a new column 'Weekday' in the DataFrame. The 'Weekday' column should contain the weekday name (e.g.
Monday, Tuesday) corresponding to each date in the 'Date' column.

In [132]:
df = pd.DataFrame({"date": pd.date_range("20230808", periods=7)})
df['Weekday'] = df['date'].dt.day_name()

df

        date    Weekday
0 2023-08-08    Tuesday
1 2023-08-09  Wednesday
2 2023-08-10   Thursday
3 2023-08-11     Friday
4 2023-08-12   Saturday
5 2023-08-13     Sunday
6 2023-08-14     Monday

---
Q12. Given a Pandas DataFrame df with a column 'Date' that contains timestamps, write a Python
function to select all rows where the date is between '2023-01-01' and '2023-01-31'.

In [146]:
df = pd.DataFrame({"TimeStapms": pd.date_range("1/1/2023", periods=10)})

# Timestamps in the range of 02/01/2023 till 06/01/2023
df[(df['TimeStapms'] > '20230102') & (df['TimeStapms'] < '20230106')]

  TimeStapms
2 2023-01-03
3 2023-01-04
4 2023-01-05

---
Q13. To use the basic functions of pandas, what is the first and foremost necessary library that needs to be imported?

In [148]:
# We need to import the pandas library as follows:
import pandas as pd